<form [formGroup]="recipeForm">
	<div class="field">
		<label class="label">Recipe name</label>
		<div class="control">
			<input class="input is-primary" type="text" placeholder="What is recipe name?" formControlName="name">
		</div>
	</div>

	<div class="field">
		<label class="label">Kcal amount</label>
		<div class="control">
			<input class="input" type="text" placeholder="Amount of kcal" formControlName="kcal">
		</div>
	</div>

	<div class="field">
		<label class="label">Preparation time</label>
		<div class="control">
			<input class="input" type="text" placeholder="How much time do we need?" formControlName="time">
		</div>
	</div>

	<div class="field recipe-field">
		<label class="label">Recipe Image URL</label>
		<div class="control">
			<input class="input" type="text" placeholder="Paste URL of recipe image" formControlName="imagePath">
		</div>
	</div>

  <!--  CATEGORIES -->
	<label class="label">Categories</label>
	<div class="columns">
		<div class="field column categories-field">
			<div class="control">
				<input (keyup)="onCategoryKey($event)" class="input" type="text" placeholder="Category name" [value]="categoryInputVal">
			</div>
		</div>
		<div class="column is-narrow is-narrow-mobile">
			<a class="button" [attr.disabled]="!categoryInputVal.length ? '' : null" (click)="addCategory(categoryInputVal)">
				<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
			</a>
		</div>
	</div>
	<nav class="panel">
		<a class="panel-block category-panel" *ngFor="let category of recipeForm.get('categories')['controls']; let i = index;">
			<div class="column">{{ category.value }}</div>
			<div class="column is-narrow is-narrow-mobile">
				<span class="icon delete-icon" (click)="deleteCategory(i)">
					<fa-icon [icon]="'trash-alt'"></fa-icon>
				</span>
			</div>
		</a>
	</nav>

  <!--  STEPS -->
	<label class="label">Steps</label>
	<div class="columns">
		<div class="field column categories-field">
			<div class="control">
				<input (keyup)="onStepKey($event)" class="input" type="text" placeholder="Category name" [value]="stepInputVal">
			</div>
		</div>
		<div class="column is-narrow is-narrow-mobile">
			<a class="button" [attr.disabled]="!stepInputVal.length ? '' : null" (click)="addStep(stepInputVal)">
				<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
			</a>
		</div>
	</div>
  <nav class="panel">
    <a class="panel-block step-panel" *ngFor="let step of recipeForm.get('steps')['controls']; let i = index;">
      <app-edit-recipe-step
        [recipeStep]="step"
        [recipeStepIndex]="i"
      (deleteStepKey)="deleteStep($event)"></app-edit-recipe-step>
    </a>
  </nav>

  <!--  INGREDIENTS  -->
	<label class="label">Ingredients</label>
	<div class="columns">
		<div class="field column">
			<div class="control">
				<input (keyup)="onIngrNameKey($event)" class="input" type="text" placeholder="Ingredient name" [value]="ingrNameInputVal">
			</div>
		</div>
		<div class="field column is-narrow">
			<div class="control">
			<input (keyup)="onIngrAmountKey($event)" class="input" type="text" placeholder="Ingredient amount" [value]="ingrAmountInputVal">
		</div>
		</div>
		<div class="column is-narrow add-button">
			<a class="button"
         [attr.disabled]="(!ingrNameInputVal.length || !ingrAmountInputVal.length) ? '' : null"
         (click)="addIngredient(ingrNameInputVal, ingrAmountInputVal)">
				<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
			</a>
		</div>
	</div>

	<nav class="panel">
		<a class="panel-block ingredient-panel" *ngFor="let ingredient of recipeForm.get('ingredients')['controls']; let i = index;">
			<div class="column">{{ ingredient.value.name }}</div>
			<div class="column is-narrow is-narrow-mobile">{{ ingredient.value.amount }}</div>
			<div class="column is-narrow is-narrow-mobile">
				<span class="icon delete-icon" (click)="deleteIngredient(i)">
					<fa-icon [icon]="'trash-alt'"></fa-icon>
				</span>
			</div>
		</a>
	</nav>
</form>

<a class="button is-success is-medium" [attr.disabled]="!recipeForm.valid ? '' : null" (click)="onSubmit()">Submit Recipe!</a>

<app-confirm-notification
	[notificationMessage]="'Recipe successfully added !'"
	[openNotification]="ingrAddedModalVisible"
	[error]="error">
</app-confirm-notification>