<ng-container *ngIf="(selectedRecipe$ | async)">
		<div class="columns">
			<div class="column">
				<p>{{(selectedRecipe$ | async).name}}</p>
				<p>{{(selectedRecipe$ | async).time}}</p>
				<p>{{(selectedRecipe$ | async).kcal}} kcal</p>
				<p>{{(selectedRecipe$ | async).ingredients.length}} ingredients</p>
				<ng-container *ngFor="let category of (selectedRecipe$ | async).category">
					<span class="tag is-primary is-medium">{{category}}</span>
				</ng-container>
			</div>
			<div class="column">
					<img [src]="(selectedRecipe$ | async).imagePath" alt="recipe image">
			</div>
		</div>
  
</ng-container>

<div class="tabs is-centered is-medium">
  <ul>
    <li [ngClass]="{'is-active': isIngredientsTabSelected}">
      <a (click)="onIngredientsTabClick()">Ingredients</a>
    </li>
    <li [ngClass]="{'is-active': isStepsTabSelected}">
      <a (click)="onStepsTabClick()">Steps</a>
    </li>
  </ul>
</div>

<ng-container *ngIf="isIngredientsTabSelected; else recipeSteps">
  <app-recipe-detail-ingredients [selectedRecipe$]="selectedRecipe$"></app-recipe-detail-ingredients>
</ng-container>
<ng-template #recipeSteps>
  <app-recipe-detail-steps [selectedRecipe$]="selectedRecipe$"></app-recipe-detail-steps>
</ng-template>
