<ul class="menu-list">
  <li>
    <a
      routerLinkActive="is-active has-background-primary"
      routerLink="/edit-recipe">
        <span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
        Add a recipe
    </a>
  </li>
  <li>
    <a
      routerLinkActive="is-active has-background-primary"
      routerLink="/recipes">
        <span class="icon"><fa-icon [icon]="'list'"></fa-icon></span>
        Recipe list
    </a>
  </li>
  <li>
    <a
      routerLinkActive="is-active has-background-primary"
      routerLink="/shopping-list">
      <span class="icon"><fa-icon [icon]="'shopping-cart'"></fa-icon></span>
      Shopping list
    </a>
  </li>
</ul>
