<aside class="column is-narrow section is-hidden-touch">
	<ul class="menu-list">
		<li>
			<a href="#" class="">
				<span class="icon"><fa-icon [icon]="'home'"></fa-icon></span>
				Home
			</a>
		</li>
		<li>
			<a href="#" class="is-active">
					<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
					Add a recipe
			</a>
		</li>
		<li>
			<a href="#" class="">
					<span class="icon"><fa-icon [icon]="'list'"></fa-icon></span>
					Recipe list
			</a>
		</li>
		<li>
			<a href="#" class="">
				<span class="icon"><fa-icon [icon]="'shopping-cart'"></fa-icon></span>
				Shopping list
			</a>
		</li>
	</ul>
</aside>
