<div class="columns">
  <div class="field column">
    <div class="control">
      <input class="input is-primary" type="text" placeholder="Primary input">
    </div>
  </div>
  <div class="field column is-narrow">
    <div class="control">
    <input class="input is-primary" type="text" placeholder="Primary input">
  </div>
  </div>
  <div class="column is-narrow add-button">
    <a class="button">
      <span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
    </a>
  </div>
</div>
