<div class="navbar-start">
		<div class="navbar-item">
      <label>
        <input class="input is-rounded" type="text" placeholder="Search">
      </label>
    </div>
	<a
    routerLinkActive="is-active has-background-primary"
    routerLink="/recipes/new"
    class="navbar-item">
		<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
		Add a recipe
	</a>
	<a
    routerLinkActive="is-active has-background-primary"
    routerLink="/recipes/list"
    class="navbar-item">
		<span class="icon"><fa-icon [icon]="'list'"></fa-icon></span>
		Recipe list
	</a>
	<a
    routerLinkActive="is-active has-background-primary"
    routerLink="/shopping-list"
    class="navbar-item">
		<span class="icon"><fa-icon [icon]="'shopping-cart'"></fa-icon></span>
		Shopping list
	</a>
<!--	<a class="navbar-item">-->
<!--		<span class="icon"><fa-icon [icon]="'user'"></fa-icon></span>-->
<!--		User-->
<!--	</a>-->
	<a class="navbar-item" (click)="signOut()">
		<span class="icon"><fa-icon [icon]="'sign-out-alt'"></fa-icon></span>
		Logout
	</a>
</div>
