<div class="navbar-start">
		<div class="navbar-item">
			<input class="input is-rounded" type="text" placeholder="Search">
		</div>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'home'"></fa-icon></span>
		Home
	</a>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'plus-circle'"></fa-icon></span>
		Add a recipe
	</a>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'list'"></fa-icon></span>
		Recipe list
	</a>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'shopping-cart'"></fa-icon></span>
		Shopping list
	</a>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'user'"></fa-icon></span>
		User
	</a>
	<a href="#"class="navbar-item">
		<span class="icon"><fa-icon [icon]="'sign-out-alt'"></fa-icon></span>
		Logout
	</a>
</div>